div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
}

#b1{
    background-color: rgba(22, 220, 61, 0.5);
    }

#b2{
    background-color: rgba(19, 67, 156, 0.5); 
}

#b3{
    background-color: rgba(88, 10, 233, 0.5);
}

#b4{
    background-color: rgba(230, 24, 24, 0.5);
}

@media (max-width : 300px){
    #b1{
        background-color: green;
    }
}

@media (min-width : 300px) and (max-width : 400px){
    #b2{
        background-color: pink;
    }

    #b1{
        background-color: pink;
    }
}

@media (min-width : 400px) and (max-width : 600px){
    #b3{
        background-color: red;
    }

    #b1{
        background-color: red;
    }
}

@media (min-width : 600px){
    #b4{
        background-color: blue;
    }

    #b1{
        background-color: blue;
    }
}